APP_NAME=KOBI
APP_VERSION=0.1.0
APP_ENV=development
APP_DEBUG=false
APP_TIMEZONE=Asia/Kolkata
APP_LOCALE=en
APP_URL=http://localhost
APP_BASE_PATH=/kobi/public

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=medical1
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4